

html,body {
    width: 100%;
    height: 100%;
    min-height: 100%;
    background-image: url("../background/wood.jpg");
}

h1 {
  font-family: 'Ubuntu', sans-serif;
   font-size: 70px;
   text-align: center;
   margin: 30px;
   color: #000000;
   font-weight: bold

}

.board {
  width: 1050px;
  height: 260px;
  border: 8px solid #000000;
  margin: auto;
  text-align: center;
  padding: 5px;
  border-radius: 30px;
}

#rows {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: auto;
}


.player {
display: relative;
font-family: 'Ubuntu', sans-serif;
font-size: 40px;
color: #000000;
text-align: center;
margin: 10px auto;
width: 200px;
}

.currentPlayer{
  background-color: #000000;
  color: #EEE8AA;
}

#new-gameDiv {
  font-family: 'Ubuntu', sans-serif;
  font-size: 30px;
  width: 150px;
  height: 40px;
  text-align: center;
  margin: 10px auto;
  background-color: #8B0000;
  color: #000000;
  cursor: pointer;
}

.bucket {
  font-family: 'Ubuntu', serif;
  border: 3px solid #000000;
  border-radius: 30px;
  position: relative;;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 220px;
  width: 100px;
  margin: 15px 10px;
  color: #000000;
  font-size: 50px;
}

#bucket1 {
  float: right;
}

#bucket2{
  float: left;
}


.cup {
  font-family: 'Ubuntu', sans-serif;
   position: relative;
   border: 3px solid #000000;
   border-radius: 50%;
   border-spacing: 20px;
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;
   height: 100px;
   width: 100px;
   margin: 10px;
   color: #000000;
   font-size: 50px;
}

.cup:hover, #buttonDiv:hover{
  background-color: #8B0000;
  color: #000000;
  cursor: pointer;
}
.cup.stopper:hover{
  color: #000000;
  cursor: not-allowed;
}
